---
title: Preguntas frecuentes Reto México
---

.container
	%h1 FAQS

	.accordion
		%ul
			%li
				=link_to '¿QUÉ ES RETO MÉXICO?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p Es una iniciativa que busca resolver problemas específicos del sector público y de las empresas mediante soluciones innovadoras y de valor agregado.
			%li
				=link_to '¿CUÁL ES EL PROCESO?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%ol
						%li Se detecta un problema específico que puede ser resuelto a través de Reto México
						%li Se emite una convocatoria abierta para que todos los interesados en participar envíen sus propuestas.
						%li Se convoca al jurado interdisciplinario responsable de la evaluación.
						%li Se evalúan las propuestas recibidas.
						%li Se seleccionan las propuestas finalistas de acuerdo a los criterios de la convocatoria de cada Reto específico.
						%li Se determina y anuncia al ganador
						%li Se brindará orientación al ganador desde la perspectiva técnica, jurídica, operativa y financiera.
						%li En los retos que apliquen se inicia el diagnóstico de la innovación y el proceso de potencialización
			%li
				=link_to '¿QUÉ TIPOS DE RETOS EXISTEN?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p Existen tres tipos:
					%ul
						%li
							%strong Retos públicos<br>
							Enfocados en democratizar el gasto público, haciendo más eficientes los servicios y procesos del sector público, transparentando el gasto público y generando ahorros a través de la innovación.

						%li
							%strong Retos privados<br>
							Enfocados a empresas y organizaciones que buscan soluciones específicas a una problemática real y que a través de esta plataforma puedan resolverse en el corto plazo.

						%li
							%strong Retos Mixtos<br>
							Iniciativas conjuntas entre sector privado y gubernamental que demandan la solución de un problema específico y que puede ser resuelto a través de la innovación.
			%li
				=link_to '¿CUÁNTO TIEMPO DURA UN RETO?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p El objetivo de Reto es encontrar a través del ecosistema de innovación soluciones rápidas a las problemáticas planteadas.  Sin embargo, la duración de cada uno de los retos varía dependiendo el reto convocado y estará establecida en su respectiva convocatoria.
			%li
				=link_to '¿CÓMO PUEDO PARTICIPAR?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%h4 RETADOR
					%ul
						%li Registra el reto a lanzar en retoméxico.org
						%li Contesta las preguntas de la aplicación
						%li Reto México A.C. te contactará dentro de los 3 días hábiles siguientes para visitarte y hacerte una propuesta de solución a la medida
					%h4 INNOVADOR
					%ul
						%li Verifica los retos vigentes en la plataforma en el sitio retoméxico.org
						%li Revisa los términos y condiciones de la convocatoria
						%li Si crees contar con una solución llena la solicitud
						%li Cumple con los requisitos específicos de la convocatoria para ser elegible a participar
			%li
				=link_to '¿TENGO QUE SER UNA EMPRESA PARA PARTICIPAR?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p No
			%li
				=link_to 'SI SOY ESTUDIANTE, ¿PUEDO PARTICIPAR?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p Si. Es una convocatoria abierta a toda la comunidad.
			%li
				=link_to '¿CUÁNTO TIEMPO TARDAN EN ANUNCIAR A LOS FINALISTAS DE UN RETO?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p El plazo se establece según la complejidad en la evaluación del reto y las fechas clave quedarán descritas en cada convocatoria.
			%li
				=link_to '¿QUÉ HACEN CON MIS DATOS PERSONALES?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p Tus datos personales se usan para que podamos identificarte, para mantener contacto y para enviarte información relevante sobre los retos en los que participes. Tus datos serán protegidos y tratados de conformidad con lo previsto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y demás disposiciones aplicables. Para conocer el texto completo de la leyenda de información, así como los medios para hacer efectivos sus derechos, puedes consultar la sección de “Política de Privacidad y Protección de Datos” contenida en este sitio web.
			%li
				=link_to '¿QUIÉN EVALÚA?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p Se integra un jurado multidisciplinario con representación de empresarios, funcionarios de alto nivel, organizaciones de la sociedad civil, académicos y profesionales expertos en los temas específicos de cada reto, de quienes recibirás retroalimentación.
			%li
				=link_to '¿CÓMO SE EVALÚA?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p Los miembros del jurado revisan independientemente las soluciones enviadas por los innovadores, bajo criterios previamente establecidos en cada reto. Una vez hecho lo anterior, se promedian las calificaciones asignadas por el jurado a cada solución para determinar a los finalistas o al ganador, según sea el caso. Los jueces envían retroalimentación a los participantes. 
			%li
				=link_to '¿QUÉ OBTENGO A CAMBIO?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%h4 RETADORES
					%ul
						%li Desarrollas soluciones para situaciones reales.
						%li Te integras a un ambiente colaborativo de desarrollo de soluciones, ahorrando en el tiempo para resolver el problema y con perspectivas adicionales a las actuales.
						%li Ahorras en costos asociados con la investigación y el desarrollo.
						%li Puedes utilizar los retos para validar iniciativas de manera más efectiva.
						%li Aumentas la diversidad de pensamiento para llegar a mejores soluciones.
						%li Obtienes Vinculación con investigadores, emprendedores, innovadores, empresas y gobierno, con el objetivo de aprender y crecer en conjunto.
						%li Participas en eventos y foros como empresa vinculada a un proyecto que impulsa la generación de innovación y promueve el desarrollo.
						%li Creas un proceso eficiente para la transferencia de tecnología.
						%li Apoyas el impulso de talento y la generación de capacidades técnicas y habilidades operativas
						%li Formas parte de la primera plataforma de innovación abierta en México.
						%li Exclusividad para lanzar un reto a través de Reto México.
						%li Participas en el Comité de Evaluación.
						%li Presencia en impresos, sitio web, prensa general, redes sociales, menciones y espacios en eventos durante un año.
					%h4 INNOVADOR
					%ul
						%li Validas la viabilidad de tu innovación.
						%li Podrás recibir orientación para la generación de un negocio.
						%li Interactúas con una red de expertos industriales, técnicos y de negocios, recibiendo retroalimentación por parte de especialistas y potenciales contactos comerciales.
						%li En caso de ser ganador, recibes el premio descrito en la convocatoria.
						%li En caso de ser el ganador, te asesoraremos de manera personalizada a fin de lograr que tengas las herramientas necesarias para desarrollar o impulsar tu innovación.
						%li Podrás contar con vinculación con Instituciones Financieras, aceleradoras   y/o presentar tu innovación a fondos de capital privado.
			%li
				=link_to '¿CUÁNTO DURA EL PROCESO?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p Varía de acuerdo a las necesidades del reto planteadas en cada convocatoria específica
			%li
				=link_to '¿SIGNIFICA QUE ME VAN A COMPRAR?', 'javascript:void(0)', class: 'js-accordion-trigger'
				.content
					%p Significa que dependiendo del reto en el que estés participando, podrías obtener un estímulo económico o en especie, así como también la posibilidad de que te compren el producto o servicio (contrato).
:javascript
	$('.js-accordion-trigger').bind('click', function(e){
		jQuery(this).parent().find('.content').slideToggle('fast');
		jQuery(this).parent().toggleClass('is-expanded');
		e.preventDefault();
	});
