---
title: "Privacidad"
---

.container
  %h1 Aviso de Privacidad
  %p MEXICANOS INNOVANDO, A.C. (en lo sucesivo identificada como “Reto México”), con domicilio en Manuel María Contreras Número #133, P.B., Colonia Cuauhtémoc, Delegación Cuauhtémoc, C.P. 06500, Ciudad de México, conforme a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la “Ley”), su Reglamento y los Lineamientos del Aviso de Privacidad, pone a su disposición el presente Aviso de Privacidad (el “Aviso”). El presente Aviso está vinculado con los datos personales recabados como consecuencia de la interacción por parte de Reto México con los usuarios del sitio de Internet retomexico.org.mx.

  %p Hacemos de su conocimiento que Roberto del Valle Pérez ha sido designado como la persona encargada de dar trámite a las solicitudes relativas a datos personales y de asegurar la protección de datos personales al interior de Reto México, a quien puede ubicar y contactar directamente en nuestras oficinas ubicadas en la dirección señalada en el párrafo que antecede o bien en la siguiente cuenta de correo electrónico roberto@retomexico.org.mx


  %p Sus datos personales son muy importantes para nosotros y serán tratados con base en los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad en términos de la legislación aplicable y se utilizarán solamente con las finalidades listadas a continuación.

  %h4 FINALIDADES DEL TRATAMIENTO
  %p Los datos personales que recabamos de usted serán utilizados para (i) incluirle en nuestra base de datos de usuarios (como Retador, Evaluador/Juez o Participante; (ii) enviarle información y solicitarle acciones respecto a los procesos de Retos y selección coordinados en la plataforma, (iii) para que se le pueda enviar información relativa a las actividades de Reto México, (iv) con fines estadísticos, (v) para administrar y operar los servicios que contrata con nosotros, (vi) contactarlo con otros usuarios del sitio,  (vii) para verificar y confirmar identidad, y, (viii), en su caso, para la emisión del comprobante fiscal correspondiente.

  %p Adicionalmente utilizaremos sus datos para mandarle nuestro boletín de noticias y para temas de inteligencia operativa, diseño de productos, seguimiento de nuestros servicios y control de calidad. En caso de no desear recibir nuestro boletín de noticias o que utilicemos sus datos para las finalidades señaladas en este párrafo, le agradeceremos envíe un correo electrónico a la persona encargada de datos personales y también tendrá la opción, cada vez que reciba nuestro boletín, de darse de baja del mismo siguiendo el proceso establecido al calce del correo electrónico mediante el cual le es enviado tal material.

  %h4 DATOS PERSONALES QUE UTILIZAMOS
  %p Para llevar a cabo las finalidades descritas en el presente Aviso, podemos recabar sus datos personales de distintas formas: cuando usted nos los proporciona directamente; cuando visita nuestro sitio de Internet o utiliza nuestros servicios en línea, y cuando obtenemos información a través de otras fuentes que están permitidas por la ley

  %ul
    %li Datos que usted nos proporciona:  Recibimos y almacenamos toda la información que usted introduce en nuestra página Web o que nos facilita por cualquier otro medio. Usted nos proporciona la mayor parte de la información cuando crea su perfil en la plataforma. Al realizar esta acción, usted nos está proporcionando información como su nombre completo, edad, domicilio, ocupación, correo electrónico, nombre de usuario, escolaridad e información financiera.

    %li Información automática: Recibimos y almacenamos ciertos tipos de información, cada vez que usted interactúa con nosotros. Al igual que hacen muchas otras páginas Web, utilizamos las "cookies" para recabar información cuando su navegador de Internet accede a retomexico.org.mx o a publicidad u otros tipos de contenidos que le son ofrecidos por parte de o en nombre de retomexico.org.mx en otras páginas Web. La información que recabamos y analizamos incluye la dirección IP de Internet que utiliza para conectarse a Internet con su computadora, nombre de usuario, dirección de correo electrónico y contraseña de su cuenta, información sobre su computadora y su conexión a Internet y sobre la versión y tipo de navegador; su configuración de zona horaria, tipos y versiones de la conexión de su navegador el sistema operativo y plataforma que utiliza. También podemos utilizar datos del navegador tales como cookies, Flash Cookies (también llamadas Objetos Locales Compartidos Flash), o datos similares en ciertos lugares de nuestra página Web para prevenir el fraude.  En sus visitas a la página Web, podemos utilizar herramientas de software como JavaScript para medir y recoger la información de la sesión, incluyendo los tiempos de respuesta de la página, errores de descarga, duración de las visitas a ciertas páginas, información sobre la interacción con la página (clics de ratón, desplazamiento por la página o número de veces que pasa el ratón por encima de determinados ítems), y formas de salir de la página Web.

    %li Información recabada de otras fuentes: Es posible que recibamos información de usted de otras fuentes, y la añadamos a nuestra información de su cuenta. La información que recabamos de otras fuentes es la información de perfil como nombre, educación, ocupación, domicilio. Esta información la podremos recabar de terceros como aceleradoras, instituciones educativas y cédulas de innovación.

  %p Le informamos que Reto México no recaba datos sensibles como consecuencia de los Servicios.

  %h4 TRANSFERENCIAS
  %p Su Información Personal no será vendida, transferida o divulgada bajo ninguna circunstancia sin su consentimiento previo y siempre tendrá la opción de dar de baja su suscripción al sitio web de Reto México en cualquier momento. Compartimos la información de los usuarios sólo del modo que se describe a continuación:

  %ul
    %li Protección de retomexico.org.mx  y otros: Divulgamos información personal y datos de cuentas de nuestros usuarios cuando creemos que su divulgación es necesaria para el cumplimiento de la ley, para hacer cumplir o aplicar los Términos y Condiciones y otros acuerdos, convenios de colaboración con entidades gubernamentales o para proteger los derechos, la propiedad o seguridad de retomexico.org.mx, sus usuarios o terceros. Obviamente, lo anterior no incluye vender, arrendar, compartir o revelar de otro modo la información personalmente identificable de usuarios con fines comerciales de modo contrario a los compromisos adquiridos en el presente Aviso de Privacidad.

    %li Con su consentimiento: Aparte de lo establecido anteriormente, se le informará en caso de que cualquier información sobre usted sea compartida con terceras partes, con el fin de que tenga la oportunidad de decidir si no desea compartir dicha información.

  %h4 CONFIDENCIALIDAD Y MEDIDAS DE SEGURIDAD
  %p La confidencialidad y protección de sus datos personales es una prioridad para Reto México, por lo que hemos establecido y mantenemos medidas de seguridad de carácter técnico, físico y administrativo. Entre nuestras medidas de seguridad se incluyen el acceso con clave a servidores, múltiples capas de acceso y encriptación unidireccional de contraseñas, así como el uso de Secure Sockets Layer software (SSL), el cual codifica la información que usted introduce. Lo anterior para evitar el daño, pérdida, alteración, destrucción y el uso, acceso o divulgación indebida.

  %h4 DERECHOS ARCO
  %p Usted, como titular de sus datos personales, tiene derecho a (i) acceder a sus datos personales en posesión de Reto México y conocer los detalles del tratamiento de los mismos, (ii) rectificarlos en caso de estar desactualizados, ser inexactos o estar incompletos, (iii) cancelarlos cuando considere que no están siendo utilizados conforme a los principios, deberes y obligaciones aplicables, u (iv) oponerse al tratamiento de los mismos para fines específicos.  Estos derechos se conocen como los “Derechos ARCO”.

  %h4 EJERCICIO DE DERECHOS ARCO
  %p Si el ejercicio de Derechos ARCO se hace por escrito, la solicitud deberá ser presentada en nuestro domicilio dirigida a la atención del encargado de protección de datos personales identificada en este Aviso, acompañada de la siguiente información y documentación:

  %ul
    %li Datos de identificación del titular de los datos personales y/o de su representante legal. En el caso de que la solicitud se presente a través de representante legal se deberá acompañar copia del documento con el que se acredite ese carácter.

    %li La descripción de manera clara y precisa de los datos personales respecto de los cuales busca ejercer los Derechos ARCO, así como el derecho o derechos que desea ejercer.  La solicitud deberá ser firmada al final del escrito y rubricada al calce de cada una de las hojas.

    %li Domicilio para oír y recibir la contestación de Reto México, y, en su caso, futuras comunicaciones y/o notificaciones, o bien su deseo de que nuestra contestación y/o futuras notificaciones o contestaciones sean enviadas a través de correo electrónico, indicando la respectiva cuenta.

    %li Copia de la identificación oficial vigente del titular de los datos personales y, en su caso, de su representante legal.

  %p Si el ejercicio de Derechos ARCO se hace por correo electrónico, por favor enviar su comunicación a Roberto del Valle Pérez, en el correo electrónico roberto@retomexico.org.mx acompañada de la siguiente información y documentación:

  %ul
    %li Datos de identificación del titular de los datos personales y/o de su representante legal. En el caso de que la solicitud se presente a través de representante legal se deberá acompañar copia del documento con el que se acredite ese carácter.  Los documentos podrán ser escaneados y adjuntados al correo electrónico para verificar su veracidad.

    %li La descripción de manera clara y precisa de los datos personales respecto de los cuales se busca ejercer Derechos ARCO, así como el derecho o derechos que se desea ejercer, lo cual podrá hacerse en el texto del correo electrónico o en un documento adjunto escaneado y debidamente firmado al final del mismo y rubricado al calce de cada una de las hojas.

    %li Señalar expresamente el deseo de recibir la contestación de Reto México a su petición a través de correo electrónico, indicando la dirección de correo electrónico que corresponda.

    %li Copia de la identificación oficial vigente del titular de los datos personales y, en su caso, de su representante legal. Los documentos podrán ser escaneados y adjuntados al correo electrónico para verificar su veracidad.

  %p Una vez que la solicitud para ejercer Derechos ARCO se encuentre a disposición de Reto México, independientemente de la forma en que se reciba, se emitirá la respectiva contestación en un plazo no mayor a 20 (veinte) días hábiles a partir de su recepción la cual, haremos de su conocimiento a través del medio de contacto elegido.

  %p Si la solicitud de ejercicio de Derechos ARCO es acerca del ejercicio del derecho de acceso, Reto México pondrá a su disposición la información o datos personales a través de copias simples y/o documentos electrónicos.

  %p Reto México, como responsable, podrá negar el ejercicio de Derechos ARCO en los supuestos que lo permita la Ley y su Reglamento, por lo que se le deberá informar el motivo de dicha negativa. La negativa podrá ser parcial, en cuyo caso Reto México efectuará el acceso, rectificación, cancelación u oposición en la parte procedente.

  %h4 REVOCACIÓN DEL CONSENTIMIENTO AL TRATAMIENTO DE LOS DATOS PERSONALES
  %p Usted, como titular de sus datos personales, puede revocar su consentimiento para el tratamiento de los mismos conforme al procedimiento previsto en la sección anterior “Ejercicio de Derechos ARCO”.  Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales.  Asimismo, usted deberá considerar que, para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.

  %p En el entendido que una vez que su solicitud de revocación proceda y se encuentre a disposición de Reto México, emitiremos nuestra contestación en un plazo no mayor a 5 (cinco) días hábiles.

  %h4 OPCIONES PARA LIMITAR EL USO O DIVULGACIÓN DE SUS DATOS PERSONALES
  %p Con objeto de que usted, como titular de sus datos personales, pueda limitar el uso o divulgación de los mismos le ofrecemos los siguientes medios:

  %ul
    %li Su inscripción en el Registro Público para Evitar Publicidad, que está a cargo de la Procuraduría Federal del Consumidor, con la finalidad de que sus datos personales no sean utilizados para recibir publicidad o promociones de empresas de bienes o servicios. Para mayor información sobre este registro, usted puede consultar el portal de Internet de la PROFECO, o bien ponerse en contacto directo con ésta.

    %li Su registro en el listado de exclusión a fin de que de sus datos no sean tratados para fines mercadotécnicos, publicitarios, o de prospección comercial por nuestra parte. (Todavía no se define el nombre del listado de exclusión. Una vez se tenga definido y platicado con CD se realizará el cambio en el aviso)

  %h4 USO DE COOKIES, WEB BEACONS Y OTRAS TECNOLOGÍAS SIMILARES

  %p Las cookies son archivos de texto que son descargados automáticamente y almacenados en el disco duro del equipo de cómputo del usuario al navegar en una página de Internet específica, que permiten recordar al servidor de Internet algunos datos sobre este usuario, entre ellos, sus preferencias para la visualización de las páginas en ese servidor, nombre y contraseña. Por su parte, las web beacons son imágenes insertadas en una página de Internet o correo electrónico, que puede ser utilizado para monitorear el comportamiento de un visitante, como almacenar información sobre la dirección IP del usuario, duración del tiempo de interacción en dicha página y el tipo de navegador utilizado. Le informamos que utilizamos cookies para obtener información personal de usted, como la siguiente: su tipo de navegador y sistema operativo, las páginas de Internet que visita, los vínculos que sigue, la dirección IP, el sitio que visitó antes de entrar al nuestro. Estas cookies y otras tecnologías pueden ser deshabilitadas. En la función de Ayuda de la mayoría de los navegadores se indica cómo configurar su navegador para que no acepte cookies, para que le notifique cada vez que reciba una nueva cookie, o para desactivar todas las cookies. Asimismo, puede deshabilitar o eliminar datos similares que fueron utilizados por los complementos de los navegadores, tales como Flash Cookies, cambiando los ajustes de las extensiones o visitando la página Web de su fabricante.

  %h4 CAMBIOS AL AVISO DE PRIVACIDAD

  %p En cualquier momento Reto México podrá hacer modificaciones, cambios y/o actualizaciones al presente Aviso que sean necesarias para atender disposiciones legales aplicables, nuestras prácticas de privacidad, o por otras causas, las cuales haremos de su conocimiento mediante publicación en nuestro sitio web retomexico.org.mx.   En el Aviso se incluirá la fecha de la última versión del mismo.

  %h4 CONSENTIMIENTO

  %p Al proporcionarnos sus datos personales, expresamente reconoce y acepta el presente Aviso, por lo que dicho consentimiento nos otorga la facultad para que procedamos al tratamiento de los mismos en la forma en que se señala en el presente Aviso y con estricto apego al mismo, la Ley, su Reglamento y demás legislaciones aplicables.
