---
title: Términos y Condiciones
---

.container
  %h1 Términos y Condiciones de uso del sitio retomexico.org.mx

  %p Bienvenido y gracias por usar retomexico.org.mx Mexicanos Innovando A.C. (en lo sucesivo “Reto México”) le ofrece funciones de sitio web cuando visita o realiza operaciones en el retomexico.org.mx  o cualquiera de sus subdominios (en lo sucesivo “Sitio”) y cuando usa las aplicaciones de Reto México para dispositivos móviles. Cuando utilice nuestra plataforma (en lo sucesivo “Servicios”), acepta nuestros términos y condiciones, por lo que le recomendamos que dedique unos minutos a leerlos

  %h4 Definiciones:

  %ol
    %li
      <strong>Plataforma y/o sitio web:</strong> Herramienta electrónica ubicada en el Sitio retomexico.org.mx  a través de la cual se gestiona la operación de la iniciativa Reto México.
    %li
      <strong>Reto México:</strong> La primera plataforma de innovación abierta a nivel nacional que busca resolver necesidades o problemas específicos del sector público y privado a través de la participación de la sociedad fomentando la productividad y competitividad, así como la generación de investigación y desarrollo en nuestro país.
    %li
      <strong>Reto:</strong> Es una problemática o necesidad identificada por entidades públicas y/o privadas que busca ser resuelta a través de soluciones innovadoras y con valor agregado.
    %li
      <strong>Participantes:</strong> Personas físicas, asociaciones, organizaciones y comunidad en general, empresas, así como células de innovación, que tienen la capacidad de resolver una problemática o necesidad real a través de la innovación.
    %li
      <strong>Retadores:</strong>
      %ol
        %li <strong>Sector Privado:</strong> Empresas u organizaciones, que han detectado alguna necesidad o alguna problemática y que lanzan el reto.
        %li <strong>Sector Público:</strong> Gobiernos, dependencias o entidades federales, estatales y/o municipales, que busquen eficientar los procesos, generando mayor eficiencia y que lanzan el reto.
    %li
      <strong>Jueces:</strong> Personas que cuentan con una gran trayectoria y amplio conocimiento en diversas ramas, aptas para dar seguimiento, evaluar y dar retroalimentación puntual a cada solución planteada.
  %h4 1.- Presentación
  %p Reto México es una plataforma de innovación abierta que busca encontrar soluciones específicas a necesidades o problemas reales, fomentando la interacción de entidades públicas y privadas con la sociedad, generado así más y mejores oportunidades de desarrollo e innovación en México.
  %h4 1.1. Finalidad
  %p Nuestra misión consiste en poner en contacto a retadores y participantes para que se resuelvan necesidades o problemas mediante soluciones innovadores y de valor agregado. Nuestros servicios han sido diseñados para promover la innovación y permitir que usted y miles de usuarios puedan resolver problemas, intercambiar ideas, encontrar oportunidades y tomar decisiones en un ambiente de seguridad y confianza.
  %h4 1.2. Acuerdo
  %p Usted acepta que al hacer clic en “Regístrate aquí”, u otro enlace similar, acceder o utilizar nuestros servicios o cualquier otro contenido o información proporcionados como parte de dichos servicios, suscribe un acuerdo jurídicamente vinculante (incluso aunque esté utilizando nuestros Servicios en nombre de una empresa).
  %p El presente Acuerdo incluye estos términos y condiciones de uso, y la política de privacidad cuando usted utilice por primera vez determinadas funciones. Reto México podrá a su discreción, actualizar o modificar estos términos y condiciones y las políticas disponibles en cualquier momento, por lo que usted acepta expresamente que quedará sujeto a dichas actualizaciones o modificaciones. Si no desea estar sujeto a nuestros términos y/o condiciones, por favor absténganse de usar los Servicios de retomexico.org.mx  En caso de tener preguntas, puede enviarnos sus dudas al siguiente correo electrónico: info@retomexico.org.mx
  %p CUALQUIER USO DE ESTE SITIO SE ENTENDERÁ COMO ACEPTACIÓN EXPRESA A LOS PRESENTES TÉRMINOS Y CONDICIONES, ASI COMO A LAS POLÍTICAS VIGENTES. SI NO ESTÁ DE ACUERDO CON DICHOS TÉRMINOS Y CONDICIONES Y/O POLÍTICAS FAVOR DE NO UTILIZAR EL SITIO.
  %h4 2.- Obligaciones
  %h4 2.1. Requisitos para utilizar los Servicios
  %p Para utilizar los Servicios, usted deberá registrarse en retomexico.org.mx  como participante, comprometiéndose a proporcionar únicamente información veraz, adecuada, actual y completa así mismo se compromete a suministrarnos únicamente la información y el contenido sobre los que tenga derecho.
  %p Cuando usted crea una cuenta con retomexico.org.mx le damos acceso a nuestros servicios de plataforma a nuestra entera disposición.
  %p Una vez registrado podrá participar de la siguiente manera: Publicar ideas, participar en convocatorias y presentar propuestas que respondan al reto planteado.
  %h4 2.2 Seguridad de la cuenta
  %p Cuando se registre en el Sitio, se le pedirá elegir un nombre de usuario, contraseña y proporcionar un correo donde usted recibirá notificaciones sobre las convocatoria o retos en los que participa. Usted es responsable de salvaguardar su contraseña. No comparta su cuenta con otras personas. Usted es responsable de todo lo que suceda en su cuenta.
  %h4 2.3. Notificaciones y mensajes sobre los Servicios
  %p Usted acepta que nos comuniquemos de los siguientes modos: (1) un aviso a través de retomexico.org.mx,  o (2) un mensaje de correo electrónico enviado a la dirección que nos proporcione, o (3) a través de otros medios incluido un número de móvil, teléfono fijo o dirección de correo postal por lo que se compromete mantener actualizada su información de contacto. Si la información de contacto que nos proporcione no está actualizada, podría no recibir estas notificaciones.
  %h4 3. Derechos y límites
  %h4 3.1. Licencia para utilizar los Servicios
  %p El usuario sólo puede utilizar los Servicios y el contenido que ofrece este Sitio y/o su aplicación móvil para fines no comerciales, siempre respetando las opiniones de otros usuarios y estas condiciones de uso. Por lo tanto, el usuario se compromete a no utilizar los Servicios para ningún otro propósito.
  %p Está prohibido utilizar herramientas de recopilación de datos (data mining), robots o herramientas similares que recopilen y extraigan datos del contenido, enmarcar cualquier parte del sitio web o de su contenido, así como reproducir, reimprimir, copiar, almacenar, exhibir públicamente, emitir, transmitir, modificar, traducir, reprogramar, publicar, sub-licenciar, asignar, transferir, vender, prestar o distribuir de cualquier otra forma el contenido sin consentimiento previo por escrito del equipo operativo de Reto México. Está prohibido eludir los mecanismos incluidos en el contenido para evitar la distribución o reproducción no autorizadas del contenido.
  %h4 3.2 Derechos de Propiedad Intelectual
  %p Cuando usamos el término “Derechos de Propiedad Intelectual “ en estos términos y condiciones, nos referimos a todos los derechos de patente, los derechos de copyright, derechos morales, derechos de publicidad, , imagen comercial, derechos de marca (y el fondo de comercio asociado), derechos sobre secretos industriales; y cualesquier otro derecho de autor o propiedad intelectual que exista o llegue a existir; así como toda aplicación que se les dé a estos derechos y registros, renovaciones y extensiones de los mismos, en cada caso bajo las leyes de cualquier estado, país, territorio u otra jurisdicción.
  %p Los participantes que manden planteamientos a convocatorias garantizan que son los autores únicos y acreedores de los derechos de autor o que tienen autorización de uso de los derechos de un tercero.
  %p Las aplicaciones para dispositivo móvil y/o web que participen en las convocatorias no pueden infringir la propiedad o derechos de ningún otro individuo o entidad como está establecido en las leyes mexicanas.
  %p Al participar en retomexico.org.mx  o en los eventos organizados bajo la marca Reto México, no cede el derecho de propiedad intelectual de sus propuestas. Sin embargo, concede al Retador el uso no exclusivo para publicar y reproducir el nombre de su empresa y/o su nombre y la descripción de su propuesta sometida para fines educacionales o promocionales. Asimismo, Reto México podrá utilizar dicha información para fines de promoción.
  %h4 3.3 Reglas sobre la publicación y participación de convocatorias y/o retos
  %p Acepta que las convocatorias y/o retos tendrán sus propios términos, condiciones y reglas por separado. Usted debe de consentir tanto los términos y condiciones de retomexico.org.mx,  como  cualesquiera que se establezcan en la convocatoria y/o reto para poder participar en ella. Sin embargo, en el caso de que exista una contradicción entre estos, los términos y condiciones de las convocatorias prevalecerán a menos que esté claro y preponderadamente establecido de otra manera en su política.
  %p Cuando participa en una convocatoria y/o reto, acepta que su información y contenido puede ser revelado a los Retadores y Jueces de la convocatoria bajo cualquier término o condición propia. Mientras que esperamos que todos los participantes en las convocatorias y/o retos de la plataforma sean honestos y respetuosos de los demás, nosotros no podemos controlar sus acciones, por lo que no nos hacemos responsables por cualquier uso que le den a su contenido los Retadores y Jueces de las competencias.
  %p Una vez que su idea o propuesta ha sido enviada para participar en la convocatoria, no podrá retirarla de la plataforma. Sin embargo, podrá incluir más detalles y hacer modificaciones sobre su propuesta mientras los términos de dicha convocatoria lo permitan.
  %p Acepta ser el responsable de cumplir con los tiempos de entrega estipulados en la convocatoria a la que participe. Nosotros queremos que retomexico.org.mx  se mantenga en funcionamiento tanto como usted, pero no somos responsables ni respondemos respecto de momentos en los cuales nuestro sitio o servicios de la plataforma sean lentos, inaccesibles, o inoperantes. Es de usted la responsabilidad de planear con antelación para cumplir con cualquier tiempo de entrega asociada con las convocatorias y/o retos.
  %h4 3.4. Disponibilidad de los Servicios
  %p Podemos cambiar o retirar cualquiera de nuestros Servicios. No podemos garantizar que almacenaremos o que continuaremos mostrando la información o el contenido que haya publicado.
  %h4 3.5. Otros contenidos
  %p Al utilizar los Servicios de retomexico.org.mx, puede encontrar contenidos o información que pueden ser inexactos, estar incompletos, anticuados, ser engañosos, o dañinos. Reto México no revisa los contenidos proporcionados por nuestros usuarios.
  %p Usted acepta eximirnos de responsabilidad por el contenido o la información de terceros o por los daños derivados de su uso o confianza depositada en ellos.
  %h4 3.6. Limitaciones
  %p Reto México tiene derecho a limitar el modo en que interactúa en nuestros Servicios. Reto México se reserva el derecho a limitar su uso de los Servicios, se reserva el derecho a restringir, suspender o cerrar su cuenta si considera que puede haber incumplido este Acuerdo o la ley o que está utilizando incorrectamente los Servicios (como infringir algunas de las cosas que se deben o no se deben hacer).
  ___________________________, es titular exclusivo de los derechos de propiedad intelectual relativos al diseño del sitio web y a la información contenida en él, incluyendo sin limitar la apariencia de las combinaciones de colores, las formas de los botones, otros elementos gráficos del sitio web y la sensación que transmiten. Esta propiedad intelectual está protegida, por leyes de derechos de autor, marcas registradas, patentes y por otros derechos de propiedad industrial.
  %p Usted no puede utilizar nuestro contenido para diferentes propósitos a los establecidos sin nuestro permiso excepto que se exprese de manera explícita, obligándose a no modificar, reproducir, distribuir, vender, licenciar, usar ingeniería inversa o explotar de ninguna manera el contenido de retomexico.org.mx  o de la marca Reto México sin nuestro permiso expreso.
  %h4 4. Exclusión
  %h4 4.1. Exclusión de garantía
  %p Renunciamos a cualquier responsabilidad jurídica por la calidad, seguridad o fiabilidad de nuestros Servicios.
  %p Acepta expresamente que el uso de este sitio es bajo su propio riesgo. Reto México no garantiza la exactitud del sitio o la propiedad de la información compartida en cualquiera de los retos, o la disponibilidad de un estímulo. A pesar de que Reto México considera que la información compartida en el sitio es veraz, no controla la información provista por terceros publicada a través del Sitio. La información proporcionada por los usuarios puede ser inexacta.
  %h4 5. Rescisión
  %p Reto México o usted podrá rescindir este Acuerdo en cualquier momento tras notificarlo a la otra parte. Una vez rescindido, usted perderá el derecho a acceder y utilizar los Servicios.
  %h4 6. Disposiciones generales.
  %p Este Acuerdo (incluidos los términos adicionales que podamos proporcionarle cuando utilice alguna función de los Servicios) es el único contrato entre usted y Reto México sobre los Servicios.
  %p Nos reservamos el derecho de cambiar los términos de este Acuerdo, aceptamos que los cambios no podrán ser retroactivos. Si no está de acuerdo con estos cambios, deberá dejar de utilizar los Servicios.
  %h4 7. Privacidad
  %p Le rogamos que revise nuestro Aviso de Privacidad que también rige el uso que realice de los Servicios de Reto México, para que conozca nuestras prácticas.
  %h4 7. Lo que se debe y no se debe hacer en retomexico.org.mx
  %h4 7.1 Lo que se debe hacer. Acepta:
  %ul
    %li
      Cumplir todas las leyes aplicables, incluidas, entre otras, las leyes de privacidad, las leyes de propiedad intelectual, las leyes en materia fiscal y tributaria, y otros requisitos regulatorios.
    %li
      Proporcionarnos información exacta y mantenerla actualizada.
    %li
      Usar su nombre verdadero en el perfil.
    %li
      Usar los Servicios de una manera profesional.
  %h4 7.2 Lo que no se debe hacer. Acepta que no hará lo siguiente:
  %ul
    %li
      Actuar de manera deshonesta o poco profesional, incluida la publicación de contenidos inapropiados, inexactos o censurables.
    %li
      Agregar contenido en campos que no están diseñados para ese contenido
    %li
      Crear una identidad falsa en retomexico.org.mx
    %li
      Falsear sus datos personales.
    %li
      Falsear sus afiliaciones con una persona o entidad, pasada o actual.
    %li
      Tergiversar su identidad, como utilizar un pseudónimo.
    %li
      Crear un perfil de Usuario para alguien que no sea usted (una persona física).
    %li
      Usar o intentar usar la cuenta de otra persona.
    %li
      Acosar, abusar o herir a otra persona.
    %li
      Enviar spam u otras comunicaciones no deseadas a otras personas.
    %li
      Utilizar el método de scrape o copiar perfiles e información de otras personas a través de cualquier medio (incluidos los crawlers, los plugins de navegación y complementos, y cualquier otra tecnología o programas manuales).
    %li
      Actuar de manera ilegal, injuriosa, abusiva, obscena, discriminatoria o de otro modo reprochable.
    %li
      Revelar información que no tiene derecho a revelar (como información confidencial de otras personas, incluida su empresa).
    %li
      Infringir los derechos de propiedad intelectual de otras personas como patentes, marcas, secretos comerciales, derechos de autor u otros derechos de propiedad.
    %li
      Infringir la propiedad intelectual u otros derechos de retomexico.org.mx, incluido, sin limitación, el uso de la palabra Reto México o nuestros logotipos en cualquier nombre comercial, correo electrónico o URL.
    %li
      Publicar publicidad no solicitada o no autorizada, material de promoción, “correo basura”, “spam”, “cartas en cadena” y cualquier otra forma de publicidad no autorizada por Reto México.
    %li
      Publicar cualquier cosa que contenga virus de programas, gusanos o cualquier otro código dañino.
    %li
      Manipular los identificadores para ocultar el origen de cualquier mensaje o publicación transmitida a través de los Servicios.
    %li
      Crear perfiles o proporcionar contenidos que promuevan los servicios de compañía o de prostitución.
    %li
      Copiar o utilizar la información, el contenido o los datos de otras personas disponibles en los Servicios (salvo cuando se autorice expresamente).
    %li
      Copiar, modificar o crear obras derivadas de Reto México, los Servicios o cualquier tecnología relacionada (excepto cuando sea autorizado expresamente).
    %li
      Utilizar técnicas de ingeniería inversa, descompilar, desarmar, descifrar o de otro modo tratar de obtener el código fuente de los Servicios o de cualquier tecnología relacionada o parte de la misma.
    %li
      Alquilar, arrendar, hacer negocios, vender o revender el acceso a los Servicios o cualquier otra información o datos relacionados.
    %li
      Retirar avisos de derechos de autor, de marcas u otros derechos de propiedad contenidos en nuestro Sitio.
    %li
      Retirar, cubrir u ocultar cualquier publicidad incluida en los Servicios.
    %li
      Recabar, utilizar, copiar o transferir cualquier información obtenida de retomexico.org.mx sin el consentimiento de Reto México.
    %li
      Compartir o revelar información de otras personas sin su consentimiento expreso.
    %li
      Utilizar métodos automatizados para acceder a los Servicios, para añadir o descargar contactos o para enviar o redirigir mensajes.
    %li
      Controlar la disponibilidad, el rendimiento o el funcionamiento de los Servicios con fines competitivos.
    %li
      Acceder a los Servicios salvo a través de las interfaces expresamente proporcionadas por Reto México.
    %li
      Anular cualquier función de seguridad de los Servicios.
    %li
      Interferir en el funcionamiento o cargar los Servicios de manera poco razonable (como spam, ataque mediante denegación de servicio, virus, algoritmos de juego).

