.features{
  background-color: $cartoon-green;

  .features-container{
    @include outer-container;
    .feature{
      padding-top:80px;
      padding-bottom: 60px;
      @include span-columns(4);
      color:#fff;

      h3{font-size: 20px;}
      p{font-size: 18px; padding-top: 30px;}

      @media (max-width: 680px) {
        width: 100%!important;
        padding-top: 30px;
        padding-bottom: 00px;
        p{
          padding-top: 0px;
        }
      }

    }
  }
}
.icons{
  background-color: $base-background-color;
  .bullets {
    padding: 60px 0;
    $base-line-height: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;
    $icon-bullet-size: 3.5em;

    overflow: auto;
    text-align: center;

    .bullet {
      transition: all .5s ease;
      width: 33%;
      float: left;
    }

    .bullet-icon {
      background: $action-color;
      border-radius: 50%;
      float: left;
      height: $icon-bullet-size;
      padding: $icon-bullet-size / 4;
      width: $icon-bullet-size;
    }

    .bullet-content {}

    h2 {
      display: inline-block;
      color: $cartoon-green;
      font-weight: 200;
      font-size: $icon-bullet-size / 2.5;
      padding-top: $icon-bullet-size / 7;
    }

    li {
      list-style: none;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    img {
      max-width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .bullet:hover{
      background-color: #fff;
      transition: all .5s ease;
    }
    @media (max-width: 680px) {
     img{max-width: 70%;}
    }
    @media (max-width: 480px) {
       .bullet{
        width:100%;
       }
    }
  }

}
