.footer {
  $footer-background: $cartoon-gray !default;
  $footer-color: white;

  background: $footer-background;
  padding-top:50px;

  .footer-wrapper {
    @include clearfix; @include outer-container;
    .row{
      @include clearfix;
    }
    .footer-logos {
      @include span-columns(8); margin-bottom: 2em;
      img{height: 87px;}
    }
    .footer-contact {
      h4{color:white; font-size: 14px;}
      p{font-size: 14px;}
      a{color:$light-gray;
        &:hover{color:white}
      }
      @include span-columns(4); margin-bottom: $base-spacing;
      ul.social{
        margin-top:20px;
        li{
          display: inline-block; margin-right: 5px;
          img{width: 32px;}
        }
      }
    }
    .footer-nav{
      padding:40px 0;
      ul{
        li{
          display: inline-block; font-weight: bold; color:white; font-size: 14px;
          a{color:$light-gray; padding: 10px;
            &:hover{color:white;}
          }
          &:after{content: '|'}
          &:last-child:after{content: '';}
        }
      }
    }
  }
}

