.device-background {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $device-padding-vertical: 5em;
  $device-padding-horizontal: 0.4em;
  $device-screen-width: 14em;
  $device-screen-height: 25em;
  $device-background: darken(gray, 40%);
  $device-backside-background: darken($device-background, 10%);
  $device-text-color: white;
  $device-background-top: #162C4C;
  $device-background-bottom: #0A120D;
  $gradient-angle: 10deg;
  $device-screen-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/cosmin_capitanu_screen.jpg';

  background-color: $dark-gray;
  min-height: 25em;
  width: 100%;
  width: 100%;
  z-index: 999;

  .text-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .device-text {
    padding: 1em;

    @include media($large-screen) {
      float: left;
      max-width: 50%;
      padding-top: 4em;
    }

    h4 {
      color: $device-text-color;
      font-size: 2em;
      margin: 0 0 0.5em 0;
      padding-bottom: 0.5em;
    }

    p {
      font-size: 1.15em;
      font-weight: 200;
      color: $device-text-color;
      line-height: 1.5em;
      margin-bottom: 1.5em;
    }
  }

  .device {
    right:0; max-width: 50%; position: absolute; top:40px;
  }
}
