.terminos{
  .container{
    padding: 60px 100px;
  }
  h1{
    color: $cartoon-green;
    font-size: 24px;
  }
  h4{
    padding-top: 15px;
  }
  p{
    text-align: justify;
  }
  ul {
    list-style-type: disc;
  }

  ol {
    list-style: lower-alpha;
  }

  li {
    margin-left: 40px;
  }
}
