<ul class="bullets">
  <li class="bullet">
    <%= image_tag "phone.png" %>
    <div class="bullet-content">
      <h2>Participa en un reto</h2>
      <!-- <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p> -->
      </div>
  </li>
  <li class="bullet">
    <%= image_tag "trophy.png" %>
    <div class="bullet-content">
      <h2>Conoce a los ganadores</h2>
      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p> -->
    </div>
  </li>
  <li class="bullet">
    <%= image_tag "spaceship.png" %>
    <div class="bullet-content">
      <h2>Lanza un reto</h2>
      <!-- <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p> -->
    </div>
  </li>
</ul>
