.features
  %ul.features-container
    %li.feature
      %h3 ¿Qué es un reto?
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque venenatis ultrices.
    %li.feature
      %h3 ¿Quién puede participar?
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque venenatis ultrices.
    %li.feature
      %h3 ¿Quién puede lanzar un reto?
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque venenatis ultrices.
%ul.bullets
  %li.bullet
    =link_to '#' do
      = image_tag("icons/phone.png")
      .bullet-content
      %h2 Participa<br>en un reto
  %li.bullet
    =link_to '#' do
      = image_tag("icons/trophy.png")
      .bullet-content
      %h2 Conoce a los<br>ganadores
  %li.bullet
    =link_to '#' do
      = image_tag("icons/spaceship.png")
      .bullet-content
      %h2 Lanza<br>un reto