.challenge-summary-card
  .challenge-thumbnail
    = image_tag "challenge-placeholder.png"
  .challenge-content
    %h3 Reto Certificación en L&iacute;nea
    %h4 SEP
    .info-bit
      %p Etapa 1 de 6
      %h1 Ideas
    .info-bit
      %p Participantes
      %h1 28

  .challenge-decorators
    .badge.success Organismo p&uacute;blico
    %p.danger Cierra Nov 13
