.challenge-summary-card
  .challenge-thumbnail{style: 'background-image: url("https://retos-publicos.s3.amazonaws.com/uploads/project_avatar/17/RETO_REVALIDA-01_certificacion.png")'}
  .challenge-content
    %h3 Reto Certificación en L&iacute;nea
    %h4 SEP
    .info-bit-container
      .info-bit
        %p Etapa 1 de 6
        %h3 IDEAS
      .info-bit
        %p Participantes
        %h3 28

  .challenge-decorators
    %p#challenge-badge Organismo público
    %p#due-date Cierra Nov 13
