<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="/assets/images/logo.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Participa</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Lanza un reto</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Retadores</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Participantes</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Acerca de</a></li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <!-- here goes the button for logging in -->
    </div>
  </div>
</header>
