<div class="device-background">
  <div class="text-wrapper">
    <div class="device-text">
      <h4>Reto M&eacute;xico</h4>
      <p>
        El primero premio de est&iacute;mulo a nivel nacional busca resolver
        problemas espec&iacute;ficos, promoviendo una competencia abierta para
        fomentar la innovaci&oacute;n.
      </p>
      <button type="button" name="button">Participa</button>
    </div>

  <!-- <div class="device">
    <div class="screen"></div>
  </div> -->
</div>

</div>
