.device-background
  .container
    .text-wrapper
      .device-text
        %h4 Reto México
        %p
          Es la primera plataforma de innovación abierta en México.  Nuestro objetivo es encontrar soluciones reales a necesidades reales, fomentando la interacción de la Iniciativa Privada y el Gobierno con el ecosistema de innovación de alto impacto.

        %p
          Reto México nace a partir de la necesidad de crear capacidades técnicas, habilidades de gestión y oportunidades de creación de empresas en nuestro país.
        %form{action: "#{config[:host]}"}
          %input{type: :submit, value: "Participa"}
      .device
        = image_tag 'icons/banner-icon.png'