.device-background
  .container
    .text-wrapper
      .device-text
        %h4 Reto México
        %p
          El primer premio de estímulo a nivel nacional busca resolver
          problemas específicos, promoviendo una competencia abierta para
          fomentar la innovación.
        %form{action: "#{config[:host]}"}
          %input{type: :submit, value: "Participa"}
      .device
        = image_tag 'icons/banner-icon.png'